/* All app scss styles here */
/* If you get lost and confused about this, go to http://foundation.zurb.com/docs/ */

/*---------------
  Color Pallette
-----------------*/
  $color-green: #27bb51;
  $color-dark-blue: #21769e;
  $color-light-green: #2ac957;
  $color-dark-grey:#b6b6b6;
  $color-red:#C02C2C;

  @mixin parameter-title{
    font-weight: 700;
    margin-right:5px;
  }
/*----------------
  General Classes
------------------*/
  // body{
  //   min-height: 100%;
  // }
.fixed-column{
  position: fixed;
}
a.no-margin{
  margin:0 !important;
}

.no-padding{
  padding:0 !important;
}

.text-bold{
  font-weight: 700;
}

.no-border{border: none;}
.panel{
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.1)
}


  .container{
    width:1024px; 
    margin:0 auto; 
    position: relative;
  }

  .page-wrap{
    min-height:100%;
    position:relative;
  }

  .content{
    padding-bottom:80px;
  }

  .radius-border{
    border-radius: $global-radius;
    border:1px solid $secondary-color;
  }

  a{
    color:$secondary-color;
    text-decoration: underline;
  }

  a:hover{
    text-decoration:$primary-color;
  }

  .breadcrumbs{
    margin-top:50px;
    background:#fff;
    border:none;

    .current a{
      text-decoration: underline;

      &:hover{
        text-decoration: underline;
      }
    }
  }

  .no-margin{margin:0 auto !important;}

  /* -- Menus --*/
  .main-menu{
    margin:20px 0 30px 0;

    a{
      color: $primary-color;
      display: block;
      text-decoration: none;

      &:hover{
        color: $secondary-color;
        @include single-transition(background-color);
        
      }
    }
  }

  .main-menu-items{
    margin-top:30px;    
    
    a{
      padding:0 5px 5px 5px;
    }
    
    a.selected{
      border-bottom:1px solid $secondary-color;
    }
  }

  .main-menu-block{
    margin-top:10px;
    text-align: center;
    border-left:1px solid $primary-color;

    i{
      display: block;
    }

    li{
      padding:16px 0 14px 0;
    }
  }

  .secondary-menu{
    background-color: #e2e2e2;
    padding:12px 0;
    max-width: 100%;
    position:absolute;
    bottom:0;
    left:0;
    margin-top:20px;

    li{
      padding:0 20px;
    }

    a{
      color:#666;
      text-decoration: none;

      &:hover{
        color:#444;
        text-decoration: none;
      }
    }
  }

  .secondary-menu-content{
    width:1024px;
    margin:0 auto; 
  }


  /* -- Typography --*/
    h1{
      color: $primary-color;
    }

    .text_red{
      color:#C02C2C !important;
    }

    .text_bold{
      font-weight: 700;
    }

    .heading-highlight{
      color:$primary-color;
      text-align: center;

      small{
        // color:$color-dark-blue;
        font-size:0.5em;
        position: relative;
        top:-23px;
        font-style:italic;
      }
    }

    .heading-spaced{margin-top: 40px;}
  

  /* -- Buttons -- */
    a.green, input.green{
      background-color: $color-green;

      &:hover{
        background-color: $color-light-green;
      }
    }

    a.grey, input.grey{
      background-color: $color-dark-grey;

      &:hover{
        background-color: $color-light-green;
      }
    }
    
    $color-red-hover: scale-color($color-red, $lightness: -15%);
    a.red, input.red{
      background-color: $color-red;

      &:hover{
        background-color: $color-red-hover;
      }
    }

    $color-blue-hover: scale-color($color-dark-blue, $lightness: -15%);
    a.dark-blue, input.dark-blue{
      background-color: $color-dark-blue;

      &:hover{
        background-color: $color-blue-hover;
      }
    }

    $color-btn-blue: scale-color($secondary-color, $lightness: -15%);
    $color-light-blue-hover: scale-color($color-btn-blue, $lightness: -15%);
    a.blue, input.blue{
      background-color: $color-btn-blue;

      &:hover{
        background-color: $color-light-blue-hover;
      }
    }

    a.btn_pdf-download,
    a.button{
      text-decoration: none;
    }
  
  
  /* -- Header -- */  
    header{
     margin-top: 30px !important;
     margin-bottom: 30px !important;


    
      .logged-user{
        margin-top:40px;
        float: right;
        font-size:0.9rem;
        line-height: 1.4em;
      }
    }

    .btn_login,
    .btn_login:active,
    .btn_login:visited,
    .btn_login:link{
      position: absolute;
      top: 60px;
      right:0;
      background-color: #fff !important;
      border:1px solid $secondary-color;
      color: $primary-color;
    }

    .btn_login:hover{
     background-color: $secondary-color !important;
     color:$primary-color; 
     @include single-transition(all);
    }


  /* -- Tables -- */
    table{ 
      th{
        border-bottom:1px solid #008CBA;
        padding:20px 15px !important;
      }
      
      td{
        padding:20px 15px !important;
      }
      
      tr:hover td{
        background-color:#cfeff9;
      }      
    }

    table.with-button{
      th{
      padding:20px 15px !important;
      }

      td{
        padding:0 15px !important;
        &:last-child{width: 140px;}
      }

      .button{
        margin:10px 0;
      }
    }

  
  /* -- Pricing Table -- */
    .pricing-table{
      border-radius:5px;

      li{background-color: $primary-color;}
    }

    .bullet-description{
      margin:5px;
      display:inline-block;
      color:#888;
    }

    .pricing-table-highlight{
      border-color: $primary-color !important;

      li.title,
      li.price{
        background-color:$primary-color !important;
      }
    }  

    .pricing-table-state-selector{
      margin:15px 0 0 0;
    }
  
  /* -- Form -- */
    .form-note{
      font-style: italic;
      position: relative;
      top:-30px;
      color:#888;
      text-align: center;
    }

    .form-border{
      padding:20px;
      border-radius:20px;
      background-color:#f3f3f3;
      border:1px solid $secondary-color;
    }

    input[type="radio"],
    input[type="checkbox"]{
      margin-right:10px;
    }
    
/*------
  Index
--------*/
  .states-list ul li{
    line-height: 2em;

    a{
      // color:$color-dark-blue;
      text-decoration: none;

      &:hover{
        color:$primary-color;
      }
    }
  }

  .map-bg{
    position: absolute;
    top:-60px;
    left:100px;
    z-index:-1;
  }


/*--------------------
  Order page
----------------------*/ 
  .billing-info,
  .credit-card-info{
    margin-bottom:20px !important;
    
    h3{
      margin:10px 0 20px 0;
    }
  }

  .payment-method{
    img{
      width:60px;      
      border-radius: $global-radius;
    }
  }

  .terms-conditions{
    margin-top:40px;margin-bottom: 40px;

    .terms-conditions-title{
      margin:0;
      text-align: center;
      background-color:$secondary-color;
      border:2px solid $secondary-color;
      color:#fff;
      border-bottom:none;
      border-radius:$global-radius $global-radius 0 0;
      font-size:1.2rem;
      padding:6px 0;
    }

    .terms-conditions-content{
      border:2px solid $secondary-color;
      border-radius:0 0 0 $global-radius;
      margin:0;
      height:255px;
      padding:10px;
      overflow: scroll;
      resize: vertical;
      margin-bottom: 20px;
    }

    *{
      font-size:0.75rem;
    }
  }

  #pp-btn{
    display: none;
  }

  #office-gallery{
    margin:20px auto 20px auto;
  }

/*----------------
  Members Area
------------------*/
  .menu-side{
    border:1px solid #d0d0d0;
    background-color:#f8f8f8;
    padding:20px 15px;
    border-radius:$global-radius;

    li{
      margin-bottom:12px;

    }

    li.selected a{
      padding-bottom:5px;
      border-bottom:1px solid $primary-color;
      color:$primary-color
    }

    a{
      text-decoration: none;

      &:hover{
        color:$primary-color !important; text-decoration: none !important;
      }
    }
  }

  .report-list{
    border:1px solid $secondary-color;
    border-radius:10px;
    padding:0 15px;

    .row{
      border-top:1px solid $secondary-color;
      padding-top:15px;

      &:first-child{
        border:none;
      }

      &:nth-child(even){
        background-color: #f6f6f6;
      }
    }
  }

  .btn_pdf-download{
    background:url(../images/icon_pdf.png) top center no-repeat;
    position: relative;
    top:98px;
    padding-top:80px;

    &:hover{
      background:url(../images/icon_pdf_blue.png) top center no-repeat;
    }
  }

  .heading-members-highlight{
    color:$primary-color;
    margin-top:30px;
  }


/*--------
  Modals
----------*/
.reveal-modal{
  background: #1393d3 url(../images/bg-opacity-1choice.png) no-repeat center center;
  min-width: 480px;

  a{
    color:#fff;
    text-decoration: none !important;

    &:hover{
      text-decoration: none;
      color: $primary-color;
    }
  }

  label,h4,p{
    color:#fff;
  }

  .reveal-modal-back{
    margin:40px 0 5px 0 !important;
  }
}

.reveal-modal-subtitle a{
  padding-bottom:2px;
  border-bottom:2px solid #fff;

  &:hover{
    border-color: $primary-color;
  }
}

.close-reveal-modal{
  text-decoration: none !important;

  &:hover{
    color: $color-dark-blue;
    text-decoration: none !important;
  }
}

/*----------
  Products
------------*/
.products{
  background: url(../images/reports-pile-1.jpg) no-repeat 5% 110%;
}

/*-------
  Order
---------*/
/* -- Color for the steps -- */
$color-step-1: scale-color($secondary-color, $lightness: 15%);
/* $color-step-2: $secondary-color */
$color-step-3: scale-color($secondary-color, $lightness: -10%);

/* -- Panels styles -- */
.panel-step{
  margin-bottom:30px;
}

.panel-step-1,
.panel-step-2,
.panel-step-3{
  color:#fff;
  border-radius:global-radius;
  padding:20px !important;
  font-size:1.6rem;
  line-height: 1.2;
  position: relative;
}

.panel-step-1{
  background-color:$color-step-1;
  border-radius:20px 0 0 20px;

  .step-indicator{
    border-color: $color-step-1 transparent transparent;
  }
}

.panel-step-2{
  background-color:$secondary-color;
  border-radius:0;

  .step-indicator{
    border-color: $secondary-color transparent transparent;
  }
}

.panel-step-3{
  background-color:$color-step-3;
  border-radius: 0 20px 20px 0;

  .step-indicator{
    border-color: $color-step-3 transparent transparent;
  }
}

.panel-highlight{
  font-weight: 700; 
}

/* -- Big numbers -- */
.number-highlight{
  text-align: center;
  font-size:4rem;
  font-weight: 700;
  padding-bottom:5px;
  vertical-align: middle;
}

/* -- Triangle Styles -- */
.step-indicator{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  position: absolute;
  bottom: -19px;
  left: 45%;
}


.order-verification-step1-result{
  margin-top:10px;
}

.icon-check-circle{
  font-size:1.6rem;
  color:$color-green;
  margin-right:15px;
  vertical-align: middle;  
}

.order-verification-step1-result-title{
    font-size:1.6rem;  
    color:$color-green;  
    vertical-align: middle;  
  }

.order-verification-step1-parameters{
  margin:20px 0 40px 0;
}

.order-step2{
  background: #fff url(../images/search-bg.png) left bottom no-repeat;
}

.cart-detail{
  border-left:1px solid $secondary-color !important;
  padding-left:30px !important;

  .fixed-column{
    border-left:1px solid $secondary-color !important;
    padding-left:30px !important;
  }
}

.order-detail-parameter{
  font-size: 0.85rem;
}

.order-detail-parameter-title{
  @include parameter-title;
}

.order-information{
  margin-top: 20px;
}

.number-description{
  vertical-align: middle;
  padding-top:6px;
}

.icon-pdf{
  margin-right:10px;
  color:#fff;
}



.price-highlight{
  color:#31a4dd;
  font-size:1rem; 
  margin-top:10px;

  .price{margin:-5px 0 10px 0;} 
}
.dollar-sign,
.small-numbers{
  font-size: 1.5rem;
  vertical-align: top;
  margin-top:22px;
}
.big-number{
  font-size:5.5rem;
  vertical-align: baseline;
}

.index h1{font-size:2.4rem;}

.sales-pitch{
  margin-top:25px;

  border-left: none;
}

.report-example{
    padding:15px;
    background-color: #fff;
    border:4px solid rgba(71, 116, 157,0.8);
    border-radius:20px;
    width: 200px;
    margin-top:20px;
    margin-left: 120px;
}

.report-example_v3{
    padding:5px 10px;
    background-color: #fff;
    border:4px solid rgba(71, 116, 157,0.8);
    border-radius:20px;
    margin-top:100px;
    width:200px;
    position: absolute;
    bottom:20px;
    left: 280px;
}

.report-example_v5{
    padding:5px 10px;
    background-color: #fff;
    border:4px solid rgba(71, 116, 157,0.8);
    border-radius:20px;
    margin-top:100px;
    width:200px;
    position: absolute;
    bottom:10px;
    left: 250px;
}

.index-photo{
  position: relative;
  left: -150px;
  bottom:0;
  z-index: -1;
}

.index-photo_v3{
  position: absolute;
  bottom:0;
  left:-100px;
}

.index-photo_v5{
  position: relative;
  left:-50px;
  bottom:0;
  z-index: -1;
}

.list-check{
  list-style-image: url('../images/icon-check-list.jpg');
  line-height:2rem;
  color:#555;
  margin-left:0;
}

.index .content{
  padding-bottom:0;
}

.index-test{
  background: url('../images/bg-index.jpg') no-repeat left bottom;
}


.price-highlight_v2{
  color:#31a4dd;
  font-size:1rem; 
  margin-top:10px;
  position: absolute;
  top:25px;
  right:200px;

  .price{margin:-5px 0 10px 0;} 
}

.price-highlight_v4{
  color:#31a4dd;
  font-size:1rem; 
  margin-top:10px;
  position: absolute;
  top:25px;
  right:80px;

  .price{margin:-5px 0 10px 0;} 
}

.price-highlight_v5{
  color:#31a4dd;
  font-size:1rem; 
  margin-top:10px;
  position: absolute;
  top:20px;
  right:20px;

  .price{margin:-5px 0 10px 0;} 
}

.sales-pitch_v4{
  margin-top:0;
  font-style: italic;
  line-height:1.4;
  border-left: none;
}