extends includes/layout-template

block body-bg-image
  - var bodyClass = 'index';

block content
  // Report example and Man background
  div.small-5.columns
    .report-example
      img(src="images/report-example.jpg")
  // Background check-list
  div.small-7.columns
    div.row
      h1 Tenant Background Check
    div.row
      // List
      div.small-8.columns
        ul.list-check
          li Instant Results!
          li Safe and secure ordering
          li 24/7 access
          li FREE Instant Identity Verification
          li Pay As You Go -NO setup, membership,
          li monthly or annual fees.
          li Instant Results!
          li Safe and secure ordering
          li 24/7 access
          li FREE Instant Identity Verification
      // Price
      div.small-4.columns.price-highlight
        div.small-10.columns.small-centered
          div Starting at
          div.price
            div.left.dollar-sign $
            div.left.big-number 9
            div.left.small-numbers .95
        a.button.round.green.expand(href="order-step-1.html") Get Started

    div.row
      small-10.columns.end.text-center
        blockquote.sales-pitch.right 
          | Screening your potential Tenants is as easy as 1 - 2 - 3 with
          br
          span.text-bold First-Choice’s easy to use online order system.
