extends includes/layout-template

block content
        
  div.small-2.columns.menu-side
    a.button.green.radius.small.expand.no-margin New Search
    hr
    ul.no-bullet.text-center
      li.selected: a My Orders
      li: a(href="members-profile.html") Edit Profile
      li: a Logout
    hr
    form(action="")
      input(type="text", name="search-order")
      input(type="submit", name="search-order-bt", value="Search Order", class="button green radius small expand no-margin")  

  div.small-9.small-offset-1.columns
    table.small-12.columns.radius.orders-list
      thead
        tr
          th Date
          th Name
          th SSN
          th DOB
          th &nbsp;
      tbody
        tr
          td 04/24/2014
          td Thomas Green
          td 123456789
          td 07/24/1984
          td: a.button.blue.radius.expand.small.no-border
                i.fa.fa-file-pdf-o.fa-lg.icon-pdf
                | Download PDF
        tr
          td 04/24/2014
          td Thomas Green
          td 123456789
          td 07/24/1984
          td: a.button.blue.radius.expand.small.no-border
                i.fa.fa-file-pdf-o.fa-lg.icon-pdf
                | Download PDF
        tr
          td 04/24/2014
          td Thomas Green
          td 123456789
          td 07/24/1984
          td: a.button.blue.radius.expand.small.no-border
                i.fa.fa-file-pdf-o.fa-lg.icon-pdf
                | Download PDF
        tr
          td 04/24/2014
          td Thomas Green
          td 123456789
          td 07/24/1984
          td: a.button.blue.radius.expand.small.no-border
                i.fa.fa-file-pdf-o.fa-lg.icon-pdf
                | Download PDF
        tr
          td 04/24/2014
          td Thomas Green
          td 123456789
          td 07/24/1984
          td: a.button.blue.radius.expand.small.no-border
                i.fa.fa-file-pdf-o.fa-lg.icon-pdf
                | Download PDF