extends includes/layout-template

block body-bg-image
  - var bodyClass = 'search-loupe';

block content
  //Order Steps
  div.row
      ul.small-block-grid-3.panel-step
        li.panel-step-1
          div.number-highlight.small-4.columns.left 1
          div.small-8.columns.number-description
            div.panel-highlight Tenant
            | Verification
          div.step-indicator
        li.panel-step-2
          div.number-highlight.small-4.columns.left 2
          div.small-8.columns.number-description
            div.panel-highlight Select Your
            | Package
        li.panel-step-3
          div.number-highlight.small-4.columns.left 3
          div.small-8.columns.number-description
            div.panel-highlight Download
            | Reports

  //Search Form
  div.row
    form(class="small-4 small-offset-4 end columns", action="order-step-2.html")
      div.row
        label First Name
              input(type="text")
        label Last Name
              input(type="text")
        label SSN
              input(type="text")
      div.row
        input(class="button green radius expand", type="submit", value="Search")