extends includes/layout-template

block body-bg-image
  - var bodyClass = 'products';

block content
  ul.small-block-grid-3.small-11.columns.small-centered
    li
      ul.pricing-table
        li.title Basic
        li.price $9.95
        li.bullet-item Identity &amp; SSN Verification
        li.bullet-item Single Statewide Criminal Check
        li.bullet-item Statewide Sex Offender Check
        li.bullet-item Terrorist Watch List
        li.cta-button: a.button.radius.expand.green Get Started
    li
      ul.pricing-table
        li.title Premium
        li.price $19.95
        li.bullet-item Credit Report w\ Score
        li.bullet-item Identity &amp; SSN Verification
        li.bullet-item Nationwide Criminal Check
        li.bullet-item National Sex Offender Check
        li.bullet-item Terrorist Watch List
        li.cta-button: a.button.radius.expand.green Get Started
    li
      ul.pricing-table.pricing-table-highlight
        li.title Ultimate
        li.price $29.95
        li.bullet-item Credit Report w\ Score
        li.bullet-item Identity &amp; SSN Verification
        li.bullet-item Nationwide Criminal Check
        li.bullet-item National Sex Offender Check
        li.bullet-item Address History w\ Evictions
        li.bullet-item Judgment Check
        li.bullet-item Bankruptcy Check
        li.bullet-item Tax Lien Check
        li.bullet-item Terrorist Watch List
        li.cta-button: a.button.radius.expand.green Get Started


