doctype html
html(class="no-js", lang="en")
  include header
  
  body
    div.page-wrap
      // Menu
      include main-menu
      
      // Content
      div.row.container.content
        div.row.container
          h3 Cart
          table.small-12.columns
            tbody
              tr
                td.text-center You have no items in your shopping cart. Return to our <a href="pricing_v2.html">Products Page</a> in order to continue.
         
      // Footer
      include secondary-menu
      // Modals
      include modals

    // Footer
    include footer
 
    
    //- div.row.container
    //-   table
    //-     thead
    //-       tr
    //-         th
    //-         th
    //-         th
    //-         th
    //-     tbody
    //-       tr
    //-         td
    //-         td
    //-         td
    //-         td