block link
  -var selected = 'Home'; //default
  -var menu = { 'Home': 'index.html', 'Pricing': 'pricing_v2.html', 'Coverage': '#', 'Contact': 'contact.html' };

div.row.container
  div.small-12.columns.main-menu
    div.small-3.columns
      a(href="index.html"): img.logo(src="images/logo.png")
    div.small-5.small-offset-2.columns
      ul.inline-list.main-menu-items
        each val, key in menu
          li
            if selected === key
              a.selected(href=val, title=key)= key
            else
              a(href=val, title=key)= key

    div.small-2.columns.main-menu-block
      ul.small-block-grid-2
        li: a(href="cart.html")
              i.fa.fa-shopping-cart.fa-lg
              | Cart  
        li: a(href="#", data-reveal-id="loginModal")
              i.fa.fa-user.fa-lg 
              | Login
