div.row.secondary-menu.text-center
  div.secondary-menu-content
    ul.inline-list.small-10.small-centered.columns.no-margin
      li: a(href="#") Security Information
      li: a(href="contact.html") Contact Us
      li: a(href="#") Sitemap
      li: a(href="privacy-policy.html") Read Our Privacy
      li: a(href="#") Statement